@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "./../components/Layout/styles.css";
@import "./../components/Homepage/styles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* ==========
 TYPOGRAPHY
 ========== */

/* ==========
 LAYOUT
 ========== */

section {
  padding: 0 6.4%;
  margin-bottom: 4rem;
}
